@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  background-color: rgb(116, 163, 201);
  width: 100vw;
  padding:0;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
  width:100vw;
  margin: 0;
  padding:0;
}
.title-page{
  color:black;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
  font-variation-settings:100px;
  font-size: 3em;
}
.title-main{
  display: flex;
  justify-content: center;
}
.main-title,.title-learning{
  display:flex;
  justify-content: center;
  margin:10px;
  color:black;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
  font-variation-settings:100px;
  font-size: 5em;
}
h1{
  display: flex;
  color:black;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
  font-variation-settings:100px;
  font-size: 3.5em;
}
.number-header{
  justify-content: center;
}
input{
  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: 900;
  margin-bottom:0.4em;
  width: 100vw;

}
h2{
  font-size: 3em;
  animation: rainbow-winner-grow 3s infinite;
}
@keyframes rainbow-winner-grow{
  0% { color: green; transform: scale(1)}
  16% { color: blue; }
  32% { color: indigo; }
  48% { color: violet; }
  64% { color: red; }
  80% { color: orange; }
  100% { color: yellow; transform: scale(2)  }
}
.home-border,.number-border{
  display: flex;
  flex-direction: column; 
  align-items: center;  
  justify-content: flex-start;
}
.title{
  display: flex;
  margin: 0.1em;
}
.title-learn,.title-number{
  display:flex;
  margin: 0.25em;
}
.title-my,.title-myNum{
  display: flex;
  margin: 0.25em;
}
.title-alpha,.title-numbers{
  display: flex;
  margin: 0.25em;
}

ul{
  list-style: none;
}
.home-list,.number-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
li{
  display: flex;
  align-items: center;
  font-size: 5em;
  font-weight: bolder;
  padding: 0.1em;
  margin: 0.3em;
  height: 1em;
}
.home-A,.home-One,.home-Eleven {
  animation: rainbow-A 4s infinite;
}
.home-B,.home-Two,.home-Twelve {
  animation: rainbow-B 4.2s infinite;
}
.home-C,.home-Three,.home-Thirteen {
  animation: rainbow-C 4.4s infinite;
}
.home-D,.home-Four,.home-Fourteen {
  animation: rainbow-D 4.6s infinite;
}
.home-E,.home-Five,.home-Fifteen {
  animation: rainbow-E 4.8s infinite;
}
.home-F,.home-Six,.home-Sixteen {
  animation: rainbow-F 5s infinite;
}
.home-G,.home-Seven,.home-Seventeen {
  animation: rainbow-G 5.2s infinite;
}
.home-H,.home-Eight,.home-Eighteen {
  animation: rainbow-H 5.4s infinite;
}
.home-I,.home-Nine,.home-Nineteen {
  animation: rainbow-I 5.6s infinite;
}
.home-J,.home-Ten,.home-Twenty {
  animation: rainbow-J 5.8s infinite;
}
.home-K {
  animation: rainbow-K 6s infinite;
}
.home-L {
  animation: rainbow-L 6.2s infinite;
}
.home-M {
  animation: rainbow-M 6.4s infinite;
}
.home-N {
  animation: rainbow-N 6.6s infinite;
}
.home-O {
  animation: rainbow-O 6.8s infinite;
}
.home-P {
  animation: rainbow-P 7s infinite;
}
.home-Q {
  animation: rainbow-Q 7.2s infinite;
}
.home-R {
  animation: rainbow-R 7.4s infinite;
}
.home-S {
  animation: rainbow-S 7.6s infinite;
}
.home-T {
  animation: rainbow-T 7.8s infinite;
}
.home-U {
  animation: rainbow-U 8s infinite;
}
.home-V {
  animation: rainbow-V 8.2s infinite;
}
.home-W {
  animation: rainbow-W 8.4s infinite;
}
.home-X {
  animation: rainbow-X 8.6s infinite;
}
.home-Y {
  animation: rainbow-Y 8.8s infinite;
}
.home-Z {
  animation: rainbow-Z 9s infinite;
}
@keyframes rainbow-A {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-B {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-C {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-D {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-E {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-F {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-G {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-H {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-I {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-J {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-K {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-L {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-M {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-N {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-O {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-P {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-Q {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-R {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-S {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-T {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-U {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-V {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-W {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-X {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-Y {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
@keyframes rainbow-Z {
0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}
button{
  cursor:pointer;
}
.play-Btn,.menu-btn,.back-btn{
  color: black;
  width:100%;
  height:75px;
  border: 0.05em solid #b3b3b3;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 3em;
  background: linear-gradient(180deg, #efebeb,#8b8989);
  box-shadow: 0 2px 9px #8b8989;
}
.play-Btn:hover{
  animation: rainbow-A 5s infinite;
  color: black;
}
.menu-btn:hover{
  background:linear-gradient(180deg, rgb(255, 255, 255),green)
}
.letter-border,.num-border {
  display: flex;
  justify-content:center;
  align-content: center;
}
.letter,.num {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 12.5em;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  position: absolute;
  color: black;
  background: linear-gradient(180deg, #b3b3b3, #fdfcfc);
  box-shadow: 0 24px 6px #0000004d;
  animation: rainbow-letter 3s infinite;
  margin: 0;
}

@keyframes rainbow-border {
    0% {box-shadow: 0 4px 6px red;
      background: linear-gradient(180deg, #ffffff, #d9d9d9);
      box-shadow: 0.05em 0.1em red;
      color: black;
      transition: transform 0.2s ease;
      border-color: red; }
  16% { box-shadow: 0 4px 6px orange;
    background: linear-gradient(180deg, #ffffff, #d9d9d9);
    box-shadow: 0.05em 0.1em orange;
    color: black;
    transition: transform 0.2s ease;
    border-color: orange; }
  32% { box-shadow: 0 4px 6px yellow;
    background: linear-gradient(180deg, #ffffff, #d9d9d9);
    box-shadow: 0.05em 0.1em yellow;
    color: black;
    transition: transform 0.2s ease;
    border-color: yellow;}
  48% { box-shadow: 0 4px 6px green;
    background: linear-gradient(180deg, #ffffff, #d9d9d9);
    box-shadow: 0.05em 0.1em green;
    color: black;
    transition: transform 0.2s ease;
    border-color: green;}
  64% { box-shadow: 0 4px 6px blue;
    background: linear-gradient(180deg, #ffffff, #d9d9d9);
    box-shadow: 0.05em 0.1em blue;
    color: black;
    transition: transform 0.2s ease;
    border-color: blue;}
  80% { box-shadow: 0 4px 6px indigo;
    background: linear-gradient(180deg, #ffffff, #d9d9d9);
    box-shadow: 0.05em 0.1em indigo;
    color: black;
    transition: transform 0.2s ease;
    border-color: indigo;}
  100% { box-shadow: 0 4px 6px violet;
    background: linear-gradient(180deg, #ffffff, #d9d9d9);
    box-shadow: 0.05em 0.1em violet;
    color: black;
    transition: transform 0.2s ease;
    border-color: violet;}
}
@keyframes rainbow-letter {
    0% {box-shadow: 0 4px 6px red;}
  16% { box-shadow: 0 4px 6px orange;}
  32% { box-shadow: 0 4px 6px yellow;}
  48% { box-shadow: 0 4px 6px green;}
  64% { box-shadow: 0 4px 6px blue;}
  80% { box-shadow: 0 4px 6px indigo;}
  100% { box-shadow: 0 4px 6px violet;}
}
.letters-border,.nums-border{
  display:flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 300px;
  padding: 0;
}
.num-list{
  display: flex; 
  align-items: center;
}
.item-btns {
  display: flex;
  border: 0.05em solid black;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 800;
  border-radius: 50px;
  width: 1.6em;
  height: 1.6em;
  margin: 0.1em;
  background: linear-gradient(180deg, #ffffff, #d9d9d9);
  box-shadow: 0.05em 0.1em black;
  color: black;
  transition: transform 0.2s ease;
  border-color: black;
}
.item-btns:hover {
  animation: rainbow-border 3s infinite;

}
.item-btns:active{
  transform: translateY(3px);

}
.homeBtn-border{
  display: flex;
  justify-content: space-between;
  width: 100%
}
.home-btn,.restart-btn{
  color: black;
  font-size: 2.5em;
  font-weight: 900;
  border-radius: 1em;
  border: 0.09em solid #a8a6a6,;
  background: linear-gradient(180deg, #f0f0f0, #a8a6a6);
  box-shadow: 0 4px 3px #a8a6a6,;
  transition: all 0.2s ease;
  margin: 20px;
}
.home-btn:hover,.restart-btn:hover{
box-shadow: 0 0px 8px green;
background: linear-gradient(180deg, rgb(165, 235, 165), green);
border-color:green;
color: white;
}
button:active{
    transform: translateY(2px)
}
.main-pageBtns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
.main-alphabetbtn,.main-numberbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
  font-variation-settings:100px;
  font-size: 3em;
  height: 2em;
  width: 100%;
  border: 0.09em solid #a8a6a6;
  border-top-color: #f0f0f0;
  border-bottom-color: #a8a6a6;
  border-right: none;
  border-left: none;
  background: linear-gradient(180deg, #f0f0f0, #a8a6a6);
  box-shadow: 0 4px 3px #a8a6a6, ;
  margin: 0.5em;
}
.main-alphabetbtn:hover,.main-numberbtn:hover {
  background: linear-gradient(180deg,#f0f0f0, rgb(179, 166, 166));
  box-shadow: 0 4px 3px rgb(179, 166, 166);
  border: 0.09em solid rgb(176, 217, 176);
  border-top-color: #f0f0f0;
  border-bottom-color: rgb(179, 166, 166);
  border-right: none;
  border-left: none;
 animation: rainbow-A 5s infinite;
}
@media (max-width: 1280px){
.main-alphabetbtn,
  .main-numberbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    height: 1.5em;
    width: 8.1em;
    border: 0.09em solid #a8a6a6, ;
    background: linear-gradient(180deg, #f0f0f0, #a8a6a6);
    box-shadow: 0 4px 3px #a8a6a6, ;
    transition: all 0.2s ease;
    margin: 0.5em;
  }
h1 {
    display: flex;
    color: black;
    font-size: 2.5em;
  }
   h2 {
    font-size: 2em;
    animation: rainbow-winner-grow 3s infinite;
  }
  p{
    font-size: 0.9em;
  }
  .home-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  li{
    display: flex;
    align-items: center;
    font-size:2.5em;
  }
  .title{
  display: flex;
  margin: 0.1em;
}
.title-learn{
  display:flex;
  margin: 0.25em;
}
.title-my{
  display: flex;
  margin: 0.25em;
}
.title-alpha{
  display: flex;
  margin: 0.25em;
}
  input{
    color: black;
    font-size: 2em;
    font-weight: 700;
    margin: 0.1em;
    width: 8em;
  }
  .play-Btn {
      color: black;
      width: 10em;
      height: 1.7em;
      border: 0.05em solid #b3b3b3;
      font-size: 2em;
      background: linear-gradient(180deg, #efebeb, #8b8989);
      box-shadow: 0 2px 9px #8b8989;
  }
  .home-btn,.restart-btn{
    font-size: 2em;
    font-weight: 900;
    border-radius: 1em;
    border: 0.1em solid #8b8989;
    background: linear-gradient(180deg, #efebeb,#8b8989);
    box-shadow: 0 2px 9px #8b8989;
    color: black;
  }
  .letter-border{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:1em;
    height: 25vh
  }
  .letter{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    height: 1em;
    width: 1em;
    color: black;
  } 
  .num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11em;
    color: black;
    background-color: white;
    height: 1.1em;
    width: 1.1em;
    background: linear-gradient(180deg, #b3b3b3, #fdfcfc);
    box-shadow: 0 4px 6px #0000004d;
  }
    .nums-border{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .letters-border {
    display: flex;
    justify-content: center;
    align-content:flex-start;
    align-items: center;
    width:100%;
    margin: 0;
  }
  .item-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
    font-weight: 900;
    width: 2.1em;
    height: 2.1em;
    margin: 0.5em;
    border: 0.1em solid black;
    color: black;
  }
  li{
    display: flex;
    padding:0;
    margin: .3em;
    font-size: 1.9em;
  }
}
@media(max-width:740px){
h2 {
    font-size: 1em;
    animation: rainbow-winner-grow 3s infinite;
  }
  
  li{
    font-size:2.5em
  }
  .menu-btn{
    font-size: 1.5em;
    font-weight: 700;
  }
  .title,.title-number  {
    font-size: 0.9em;
    display: flex;
    margin: 3px;
    }
  .title-learn{
    display: flex;
    margin: 0.2em;
    width: 50%;
  }
  .title-my {
    display: flex;
    margin: 0.2em;
    width: 50%;
  }
  .title-alpha {
    display: flex;
    margin: 0.2em;
  }
  input{
    font-size: 1.5em;
    margin: 0.1em;
    width: 10em;
    color:black;
  }
  .play-Btn {
    width: 7em;
    height: 1.3em;
    font-size: 2.8em;
    color:black;
  }
  .home-btn,.restart-btn{
    font-size: 1em;
    font-weight: bolder;
    border-radius: 1em;
    border: 0.1em solid black;
  }
  .letter-border{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:1em;
    
  }
  .letter,.num{
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 9em;
    height: 1.2em;
    width: 1.2em;
    color: black;
  } 
  .letters-border{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 12em;
    right: 2em;
    width:100%;
  }
  .item-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-weight: 900;
    width: 2.1em;
    height: 2.1em;
    margin: 0.2em;
    border: 0.1em solid black;
    color: black;
  }
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
   h2 {
    font-size: 1em;
    animation: rainbow-winner-grow 3s infinite;
  }
  p{
    font-size: 0.8em;
  }
  li{
    display: flex;
    align-items: center;
    font-size:2.2em
  }
  .title{
    font-size: 0.7em;
    display: flex;
    margin: 3px;
    }
  .title-learn {
    display: flex;
    margin: 0.07em;
    width: 50%;
  }
  .title-my {
    display: flex;
    margin: 0.07em;
    width: 50%;
  }
  .title-alpha {
    display: flex;
    margin: 0.07em;
  }
  input{
    font-size: 1.2em;
    margin: 0.1em;
    width: 9em;
    color: black;
  }
  .play-Btn {
    width: 7em;
    font-size: 2em;
    color: black;
  }
  .home-btn,.restart-btn{
    font-size: 2em;
    font-weight: bolder;
    border-radius: 1em;
    border: 0.1em solid #8b8989;
    background: linear-gradient(180deg, #efebeb,#8b8989);
    box-shadow: 0 2px 9px #8b8989;
    color: black;
  }
  .letter-border{
    display: flex;
    justify-content: center;
    align-content: center;
    left: 50%;
    margin-top:1em;
  }
  .letter{
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 9em;
    height: 1.2em;
    width: 1.2em;
    color: black;
  } 
  .letters-border {
    display: flex;
    justify-content: space-between;
    width:90%;
    height: 30vh;
  }
  .item-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-weight: 900;
    width: 2.1em;
    height: 2.1em;
    margin: 0.5em;
    border: 0.1em solid black;
    color: black;
  }
}
/*Edit This Safari */
@media  screen and (max-width: 768px) and (orientation: portrait) {
  .App{
      display: flex;
  }
.main-alphabetbtn,
  .main-numberbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    height: 2em;
    width: 100%;
    border: 0.09em solid #a8a6a6, ;
    background: linear-gradient(180deg, #f0f0f0, #a8a6a6);
    box-shadow: 0 4px 3px #a8a6a6, ;
    transition: all 0.2s ease;
    margin: 0.5em;
  }
  
h1 {
    display: flex;
    color: black;
    font-size: 3.5em;
    margin: 0;
  }
   h2 {
    font-size: 1.5em;
    animation: rainbow-winner-grow 3s infinite;
  }
  p{
    font-size: 0.7em;
  }
  .home-list,.number-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  .title,.title-number{
  display: flex;
  margin: 0.1em;
}
.title-learn{
  display:flex;
  margin: 0.1em;
}
.title-my{
  display: flex;
  margin: 0.1em;
}
.title-alpha,.title-numbers{
  display: flex;
  margin: 0.1em;
}
.input{
 display: flex;
  width: 100vh;
}
  input{
    color: black;
    font-size: 2em;
    font-weight: 900;
    width: 100%;
  }
  .play-Btn {
    display: flex;
    justify-content: center;
      color: black;
      width: 100vh;
      height: 70px;
      border: 0.05em solid #b3b3b3;
      font-size: 3em;
      background: linear-gradient(180deg, #efebeb, #8b8989);
      box-shadow: 0 2px 9px #8b8989;
  }
  .home-btn,.restart-btn{
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 1em;
    border: 0.1em solid #8b8989;
    background: linear-gradient(180deg, #efebeb,#8b8989);
    box-shadow: 0 2px 9px #8b8989;
    color: black;
    
  }
  .menu-btn{
    font-size: 1.5em;
    font-weight: 900;
    border: 0.1em solid #8b8989;
    background: linear-gradient(180deg, #efebeb,#8b8989);
    box-shadow: 0 2px 9px #8b8989;
    color: black;
    width: 100%;
  }
.letter-border{
    display: flex;
    justify-content: center;
    align-content: center;

  }
.letters-border {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 20px;
  padding: 10px;
  width: 100%;
  height: 100%;
  }
.nums-border{
    display: flex;
    justify-content: center;
    margin: 250px 0 0 20px;
    width: 90%;
  }
  .letter {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 8em;
  height: 1.2em;
  width: 1.2em;
  color: black;
  }
  .num{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 11em;
    color: black;
    background-color: white;
    height: 1.1em;
    width: 1.1em;
    background: linear-gradient(180deg, #b3b3b3, #fdfcfc);
    box-shadow: 0 4px 6px #0000004d;
  }
.item-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.45em;
  font-weight: 900;
  width: 3em;
  height: 3em;
  margin: 0px 10px 400px 2px;
  padding:0;
  border: 0.1em solid black;
  color: black;
}
  .num-list{
    flex-wrap: wrap;

  }
}


/* @media only screen and (max-width: 1280px) and (orientation:portrait){
h1 {
    display: flex;
    color: black;
    font-size: 5.5em;
  }
   h2 {
    font-size: 2em;
    animation: rainbow-winner-grow 3s infinite;
  }
  p{
    font-size: 0.8em;
  }
  .home-list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  li{
    display: flex;
    align-items: center;
    font-size:4.5em;
  }
  .title{
  display: flex;
  margin: 0.1em;
}
.title-learn{
  display:flex;
  margin: 0.25em;
}
.title-my{
  display: flex;
  margin: 0.25em;
}
.title-alpha{
  display: flex;
  margin: 0.25em;
}
  input{
    color: black;
    font-size: 2em;
    font-weight: 900;
    margin: 0.1em;
    width: 12em;
  }
  .play-Btn {
      color: black;
      width: 10em;
      height: 75px;
      border: 0.05em solid #b3b3b3;
      font-size: 3em;
      background: linear-gradient(180deg, #efebeb, #8b8989);
      box-shadow: 0 2px 9px #8b8989;
  }
  .home-btn,.restart-btn{
    font-size: 2em;
    font-weight: 900;
    border-radius: 1em;
    border: 0.1em solid #8b8989;
    background: linear-gradient(180deg, #efebeb,#8b8989);
    box-shadow: 0 2px 9px #8b8989;
    color: black;
  }
  .letter-border{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:1em;
  }
  .letter{
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 12.5em;
    height: 1.2em;
    width: 1.2em;
    color: black;
  } 
  .num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11em;
    color: black;
    background-color: white;
    height: 1.1em;
    width: 1.1em;
    background: linear-gradient(180deg, #b3b3b3, #fdfcfc);
    box-shadow: 0 4px 6px #0000004d;
  }
    .nums-border{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .letters-border {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width:100%;
    height: 35em;
    margin-top: 5em;
  }
  .item-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-weight: 900;
    width: 2.1em;
    height: 2.1em;
    margin: 0.5em;
    border: 0.1em solid black;
    color: black;
  }
  li{
    display: flex;
    padding:0;
    margin: .2em;
  }
} */
@media screen and (max-width: 1018px) and (orientation: landscape) {

   h2 {
    font-size: 1em;
    animation: rainbow-winner-grow 3s infinite;
  }
  p{
    font-size: 0.8em;
  }
  li{
    display: flex;
    align-items: center;
    font-size:2.2em
  }
  .title {
    font-size: 0.7em;
    display: flex;
    margin: 3px;
    }
  .title-learn {
    display: flex;
    margin: 0.07em;
    width: 50%;
  }
  .title-my {
    display: flex;
    margin: 0.07em;
    width: 50%;
  }
  .title-alpha {
    display: flex;
    margin: 0.07em;
  }
  input{
    font-size: 1.2em;
    margin: 0.1em;
    width: 9em;
    color: black;
  }
  .play-Btn {
    width: 7em;
    height: 1.3em;
    font-size: 2em;
    color: black;
  }
  .home-btn,.restart-btn{
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 1em;
    border: 0.1em solid #8b8989;
    background: linear-gradient(180deg, #efebeb,#8b8989);
    box-shadow: 0 2px 9px #8b8989;
    color: black;
  }
  .letter-border{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
  }
  .letter{
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 6em;
    height: 1.1em;
    width: 1.1em;
    position: absolute;
    color: black;
  } 
  .letters-border {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    width:90%;
    height: 100vh;
    margin:0;
  }
  .item-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-weight: 900;
    width: 2.1em;
    height: 2.1em;
    margin: 0.5em;
    border: 0.1em solid black;
    color: black;
  }
}