#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.play-Btn{
  width:50vw;
  height:75px;
  border-radius: 30px;
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
}
.letter-border {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  left: 50%;
}

.letter {
  background-color: black;
  display: flex;
  justify-content: center;
  font-size: 100px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  position: absolute;
  color: red;
  cursor: pointer;
}
.letters-border{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  width:100%;
}
.letter-Btns{
  font-size: 40px;
  border-radius: 10px;
  width: 90px;
  height: 90px;
  margin: 4px;
  margin-top: 10px;
  cursor: pointer;
}
