#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  cursor:pointer;
}
.play-Btn{
  width:50vw;
  height:75px;
  border-radius: 30px;
  font-size: 50px;
  font-weight: bolder;
}
.letter-border {
  display: flex;
  justify-content:center;
  align-content: center;

  left: 50%;
}

.letter {
  background-color: black;
  display: flex;
  justify-content: center;
  font-size: 250px;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  color: red;
}
.letters-border{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 400px;
  width:100%;
  list-style: none;
}
.letter-btns{
  font-size: 40px;
  border-radius: 10px;
  width: 90px;
  height: 90px;
  margin: 4px;
  margin-top: 10px;
}
.scale-up{
  font-size: 40px;
  border-radius: 10px;
  width: 90px;
  height: 90px;
  margin: 4px;
  margin-top: 10px;
  cursor: pointer;
  color: red;
}
.homeBtn-border{
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.home-btn{
  font-size: 40px;
}